{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet"   href="{% static '/css/styleforhome.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-dfDw0BO6jbY5UBPIe3W7jASzFz5SXM4PoLMT1Z9ZqY4UZqZbVoFFlJ7A/KW1mCiR" crossorigin="anonymous">
<style>
   .carousel-item .col img {

      height: 250px; /* Maintain aspect ratio */

    }
</style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'image/blooddonatee.avif' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Bootstrap
    </a>
       <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>

  </div>
</nav>
<div class="position-relative">
  <img src="{% static 'image/fooddonation1.png' %}"  alt="Image" height="450px" width="100%">
  <div class="position-absolute bottom-50 start-20  translate-left">

  </div>
</div>
<h2 class="text-center">LET'S UNITE</h2>
<br>
<h5 class="text-center">TO SAVE LIVES</h5>
<br>
     <div class="text-center">
    <a href="" class="btn btn-danger">DONATE FOOD</a>
</div>
<br>


<form method="POST" enctype="multipart/form-data" >
  {% csrf_token %}
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4  justify-content-center">
    <div class="col-md-6">
      <div data-mdb-input-init class="form-outline">
        <input type="text" id="form6Example11" name="des" class="form-control" />
        <label class="form-label" for="form6Example11">Small description About blood donation</label>
      </div>
    </div>
    <div class="col">
      <div data-mdb-input-init class="form-outline">
        <input type="text" id="form6Example12" name="contact" class="form-control" />
        <label class="form-label" for="form6Example12">Secondary contact number</label>
      </div>
    </div>
  </div>
  <div class="row mb-4  justify-content-center">
    <div class="col-md-6">
      <div data-mdb-input-init class="form-outline">
        <input type="text"  name="gender" class="form-control" />
        <label class="form-label" >Gender</label>
      </div>
    </div>
    <div class="col">
      <div data-mdb-input-init class="form-outline">
        <input type="text" id="form6Example2" name="age" class="form-control" />
        <label class="form-label" for="form6Example2">Age</label>
      </div>
    </div>
  </div>
  <div class="row mb-4  justify-content-center">
    <div class="col-md-6">
      <div data-mdb-input-init class="form-outline">
        <input type="text" id="form6Example3" name="city" class="form-control" />
        <label class="form-label" for="form6Example3">CITY</label>
      </div>
    </div>
    <div class="col">
      <div data-mdb-input-init class="form-outline">
        <input type="text" id="form6Example4" name="address" class="form-control" />
        <label class="form-label" for="form6Example2">Address</label>
      </div>
    </div>
  </div>
  <div class="row mb-4  justify-content-center">
    <div class="col-md-6">
      <div data-mdb-input-init class="form-outline">
        <input type="text" id="form6Example7" name="bloodgroup" class="form-control" />
        <label class="form-label" for="form6Example7">Blood Group</label>
      </div>
    </div>
    <div class="col">
      <div data-mdb-input-init class="form-outline">
        <input type="text" id="form6Example8" name="weight" class="form-control" />
        <label class="form-label" for="form6Example8">Weight</label>
      </div>
    </div>
  </div>
  <div class="row mb-4  justify-content-center">
    <div class="col-md-6">
      <div data-mdb-input-init class="form-outline">
        <input type="text" id="form6Example9" name="disease" class="form-control" />
        <label class="form-label" for="form6Example9">Any Disease</label>
      </div>
    </div>
    <div class="col">
      <div data-mdb-input-init class="form-outline">
        <input type="text" id="form6Example10" name="describe" class="form-control" />
        <label class="form-label" for="form6Example2">Describe Disease</label>
      </div>
    </div>
  </div>
  <div class="row mb-4  justify-content-center">
    <div class="col-md-6">
      <div data-mdb-input-init class="form-outline">
        <input type="text" id="form6Example13" name="proof" class="form-control" />
        <label class="form-label" for="form6Example13">ID Proof</label>
      </div>
    </div>
    <div class="col">
      <div data-mdb-input-init class="form-outline">
        <input type="file" id="form6Example14" name="proofimage" class="form-control" />
        <label class="form-label" for="form6Example14">ID_Proof_Image</label>
      </div>
    </div>
  </div>
  --
<!--      <div data-mdb-input-init class="form-outline">-->
<!--        <input type="text" id="form6Example11" class="form-control" />-->
<!--        <label class="form-label" for="form6Example1">Age</label>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <div data-mdb-input-init class="form-outline">-->
<!--        <input type="text" id="form6Example22" class="form-control" />-->
<!--        <label class="form-label" for="form6Example2">Address</label>-->
<!--      </div>-->
<!--    </div>-->

  <!-- Text input -->

<!--  <div data-mdb-input-init class="form-outline">-->
<!--    <input type="text" id="form6Example3" class="form-control" />-->
<!--    <label class="form-label" for="form6Example3">Company name</label>-->
<!--  </div>-->

<!--  &lt;!&ndash; Text input &ndash;&gt;-->
<!--  <div data-mdb-input-init class="form-outline mb-4">-->
<!--    <input type="text" id="form6Example4" class="form-control" />-->
<!--    <label class="form-label" for="form6Example4">Address</label>-->
<!--  </div>-->

<!--  &lt;!&ndash; Email input &ndash;&gt;-->
<!--  <div data-mdb-input-init class="form-outline mb-4">-->
<!--    <input type="email" id="form6Example5" class="form-control" />-->
<!--    <label class="form-label" for="form6Example5">Email</label>-->
<!--  </div>-->

<!--  &lt;!&ndash; Number input &ndash;&gt;-->
<!--  <div data-mdb-input-init class="form-outline mb-4">-->
<!--    <input type="number" id="form6Example6" class="form-control" />-->
<!--    <label class="form-label" for="form6Example6">Phone</label>-->
<!--  </div>-->

<!--  &lt;!&ndash; Message input &ndash;&gt;-->
<!--  <div data-mdb-input-init class="form-outline mb-4">-->
<!--    <textarea class="form-control" id="form6Example7" rows="4"></textarea>-->
<!--    <label class="form-label" for="form6Example7">Additional information</label>-->
<!--  </div>-->

<!--  &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--  <div class="form-check d-flex justify-content-center mb-4">-->
<!--    <input-->
<!--      class="form-check-input me-2"-->
<!--      type="checkbox"-->
<!--      value=""-->
<!--      id="form6Example8"-->
<!--      checked-->
<!--    />-->

<!--  </div>-->

<!--  &lt;!&ndash; Submit button &ndash;&gt;-->
  <button data-mdb-ripple-init type="sumbit" class="btn btn-primary btn-block mb-4 ">REGISTER</button>
</form>



<br><br>


<h4 style="text-align:center">Tips</h4>



<p style="text-align:center">Here are some tips to put your mind at ease during the blood donation process</p>
<br><br>
<div class="card-group" style="width:90%">
  <div class="card" style="margin-left:30px;">
    <div class="card-body">
      <h5 class="card-title text-center " >The day before</h5><br>
      <p class="card-text" style="width:90%">* Have an iron-rich diet such as beans,spinach or meat,poultry</p>
      <p class="card-text" style="width:90%">* Have proper sleep at least 8 hours.</p>
      <p class="card-text" style="width:90%">* Include more liquids in your diet</p>


    </div>
  </div>
  <div class="card" style="margin-left:30px;">
    <div class="card-body">
      <h5 class="card-title text-center">On the Donation day</h5>
      <p class="card-text" style="width:90%">* Do your identify identification forms eg:driver's license</p>
      <p class="card-text" style="width:90%">* Drink 2 cups of water before donating blood</p>
      <p class="card-text" style="width:90%">*  Avoid fast food before donation</p>

    </div>
  </div>
  <div class="card" style="margin-left:30px;">

    <div class="card-body" >
      <h5 class="card-title text-center">After the Donation</h5>
      <p class="card-text" style="width:90%">* Reward your self with a snack as refreshment immediately</p>
      <p class="card-text" style="width:90%">* Drink more liquids over a period of 24 hours</p>
      <p class="card-text" style="width:90%">* Remove the bandage after few hours</p>
    </div>
  </div>
</div>
<BR>
<BR>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!-- First Row of Images -->
    <div class="carousel-item active">
      <div class="row">
         <div class="col"><img src="{% static 'image/blood7.jpg' %}" class="d-block w-100" alt="Slide 4" ></div>
        <div class="col"><img src="{% static 'image/blood2.jpg' %}" class="d-block w-100" alt="Slide 5" ></div>
        <div class="col"><img src="{% static 'image/blood3.jpg' %}" class="d-block w-100" alt="Slide 6" ></div>


      </div>
    </div>
    <!-- Second Row of Images -->
    <div class="carousel-item">
      <div class="row">
        <div class="col"><img src="{% static 'image/blood4.jpg' %}" class="d-block w-100" alt="Slide 4" ></div>
        <div class="col"><img src="{% static 'image/blood5.jpg' %}" class="d-block w-100" alt="Slide 5" ></div>
        <div class="col"><img src="{% static 'image/blood6.jpg' %}" class="d-block w-100" alt="Slide 6" ></div>
      </div>
    </div>
    <!-- Third Row of Images -->
<!--    <div class="carousel-item">-->
<!--      <div class="row">-->
<!--        <div class="col"><img src="{% static 'image/amb3.webp' %}" class="d-block w-100" alt="Slide 7" ></div>-->
<!--        <div class="col"><img src="{% static 'image/spence.jpg' %}" class="d-block w-100" alt="Slide 9" ></div>-->
<!--        <div class="col"><img src="{% static 'image/amb2.webp' %}" class="d-block w-100" alt="Slide 8" ></div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <br><br>
  <!-- Previous and Next buttons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

 <footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">THE CARE</h5>

        <p>
          In this society people wants to help others but they are hesistate to do this because
            they don't know if it reaches the proper hand or not.Using this website they can donate
            blood,food and money and be a part of our charity work. BE A MEMBER OF THE CARE
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">THE CARE</h5>

        <p>
          If you reaches a new city or if you don't know about a city using this website you can find nearest hospital
            and doctors in that hospital and their duty time .If suddenly a accident happens you can nearest ambulance drivers details
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2020 Copyright:
    <h5>thecare@gmail.com</h5>
  </div>
  <!-- Copyright -->
</footer>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>